/* liên hệ */
.contact {
    padding: 40px;
    display: flex;
}

.contact-info h3 {
    color: #d4a373;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.contact-info h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.details {
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-item i {
    font-size: 24px;
    color: #c18c5d;
    border: 2px solid #c18c5d;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.contact-item p {
    margin: 5px 0 0;
    font-size: 14px;
}

/* ô gửi ý kiến */
.contact-form {
    background-color: #6F4E37;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
    margin-top: 50px;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form input {
    height: 40px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form .note {
    font-size: 12px;
    margin-bottom: 15px;
}

.contact-form .note a {
    color: #d4a373;
    text-decoration: none;
}

.contact-form button {
    background-color: #d4a373;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #899d5a;
}

/* banner */
.ban {
    background-color: #a17555; 
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px; /* Bo góc */
    
}
.ban h1{
    color: #ffdd90;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ban a{
    text-decoration: none;
    /* color: #ffdd90; Màu vàng nhẹ để nổi bật */
    font-weight: bold;
    transition: 0.3s;
    color:beige;
}
.ban a:hover{
    color: #ffd700; 
}
.ban p{
    color: #fff;
    font-size: 18px;
    
}

/* map */
.map-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px; /* Bo góc nhẹ */
    margin-top: 20px;
    margin-bottom: 30px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
