#ads-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
    padding: 15px;
    border-radius: 12px; /* Bo góc */
    border: 2px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    max-width: 350px;
}

#ads-container img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Bo góc ảnh */
    margin-bottom: 10px;
}

#close-ads {
    display: inline-block;
    width: auto;
    padding: 8px 12px;
    background: rgb(234, 16, 60); /* Màu nổi bật */
    color: white;
    border: none;
    border-radius: 8px; /* Bo góc nút */
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#close-ads:hover {
    background: rgb(112, 5, 5);
    transform: scale(1.05);
}
